<p id="notice"><%= notice %></p>
<div class="page-header">
  <div class="card">
    <div class="card-header">
      Uploading a resume
    </div>
    <div class="card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Reviewing resumes
    </div>
    <div class="card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Seeing your reviews
    </div>
    <div class="card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </div>
  </div>
</div>
