<div class="page-header"><h1>Tutorial</h1>
<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-header">
    Uploading a resume
  </div>
  <div class="card-body">
    <p>
    To upload a resume to our site, please to go the "Add Resume" tab located in the nav-bar at the top of the screen. From this tab, click the button for "Choose File" and 
    use your native file search to select the file you wish to upload. Clicking save will upload the resume to our servers and you will see the resume avaliable on the 
    "My Account" section of the page. You can make one resume public by default, and if you review other resumes you will have the ability to make more resumes public 
    based on how many resumes you have reviewed. For instance, if you have reviewed one resume, you can make one additional resume public. You also have the option to 
    delete resumes you have previously uploaded from this page. Deleting the resume that you have as public will allow you to make another resume public even if you 
    do not review an additional resume.
    </p>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Reviewing resumes
  </div>
  <div class="card-body">
    <p>
    In order to review a resume, please click on "Review a Resume" in nav-bar at the top of the screen. This will show a resume from the same industry you selected at 
    the beginning of the registration process, and will allow you to leave a comment on it. The resume is not reviewed until a comment is left with some star rating and 
    some verbal content. Once a comment is left, you will be able to make one more resume public if you desire. 
    </p>
  </div>
</div>
<div class="card">
  <div class="card-header">
    Seeing your reviews
  </div>
  <div class="card-body">
    <p>
    To see your resumes, go to the "My Account" tab in the nav-bar at the top of the screen. From here, you will have your uploaded resumes listed, and clicking in on those 
    resumes will allow you to see the resume with any comments people have left at the bottom of the screen. 
    </p>
  </div>
</div>
</div>
