<p id="notice"><%= notice %></p>

<p>
  <strong>File path:</strong>
  <%= @resume.file.path %>
</p>

<p>
  <strong>Resume Link:</strong>
  <%= link_to "View Resume", @resume.file.url unless @resume.file.nil? %>
</p>


<p>
  <strong>User Id:</strong>
  <%= @resume.user_id %>
</p>
